/* style.scss is here */
.navbar-digiart-header
{
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  min-width: 1009px;
  max-width: 1676px;
  -ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: 0;
margin-left: 0;
height: 75px;
position: relative;
padding: 18px 0;
z-index: 100 !important;

}

.navbar-menu-da{
background-color: #616161 !important;
height: 10px !important;
width: 100% !important;
color: white !important;
}

.control.has-icons-left .icon.is-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.da-searchbox{
  width: 300px;
  margin-right: 130px;

}

.is-da-red{
  background-color: #ef5661;
  color:#ffffff;
}

.is-da-green{
  background-color:#00bfd6;
  border-color:#00bfd6;
  color:#ffffff;
}

.da-navbar-dropdown{
  text-align: center;
}

.da-menu-item{
  color: white !important;
  text-align: right;
}
.da-product{
  background-color: #fff;
  -webkit-box-shadow: 0 12px 12px 0 hsla(0,0%,71%,.11);
  box-shadow: 0 12px 12px 0 hsla(0,0%,71%,.11);
  border: 1px solid #e4e4e4;
  margin-bottom: 15px;
  width: 100%;
}

.da-product-card{
  border:none;
  box-shadow: none;
}

.da-product-card:hover{
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
  bottom: 2px;
}


.da-card-product-title{
  text-align: center;
}

.da-cart-left-panel
{
    background-color: #fff;
  -webkit-box-shadow: 0 12px 12px 0 hsla(0,0%,71%,.11);
  box-shadow: 0 12px 12px 0 hsla(0,0%,71%,.11);
  border: 1px solid #e4e4e4;
  margin-bottom: 15px;
  width: 100%;
  margin: 5px;
}
.da-cart-right-panel
{

  background-color: #fff;
  -webkit-box-shadow: 0 12px 12px 0 hsla(0,0%,71%,.11);
  box-shadow: 0 12px 12px 0 hsla(0,0%,71%,.11);
  border: 1px solid #e4e4e4;
  margin-bottom: 15px;
  width: 100%;
  margin: 5px;
}



.empty-cart{
  text-align: center;
  background-color: #fff;
  padding: 10px;
  margin:10px;
}

//pagination styles start
.pagination{
  background-color: #d1d1d1 ;
  padding: 5px;
  margin: 5px;
}

li.page-item{
  background-color: #ffffff;
  padding: 5px;
  width: 3%;
  border-radius: 50%;
}

a.page-link{
  width: 100%;
  color: #0043ff;
}

li.page-item.active{
  background-color: #b79f9f;
  color: white;
}

.da-features-name-td{
  width: 50% !important;
}

ul.typeahead.dropdown-menu{
    width:100%;
    background-color: beige;
    border-radius: 5px;
    padding: 10px;

}
